[XMPP]
jid = bitcoin.myserver.com
password = secret
server = myserver.com
port = 3269 # This is the default port

[database]
file = /var/lib/bitcoim/database.db

[bitcoin]
user = rpc-user
password = rpc-password
# host = localhost # Defaults to localhost
# port = 8332 # Defaults to 8332
# protocol = http # Defaults to http

[main program]
loglevel = error # possible values: debug, info, warning, error, critical
# admins = foo@bar.tld # space-separated list of admin JIDs
