[XMPP]
jid = bitcoin.myserver.com
password = secret
server = myserver.com
port = 3269 # This is the default port

[database]
file = /var/lib/bitcoim/database.db

[bitcoin]
user = rpc-user
password = rpc-password
host = localhost
port = 8332 # This is the default port

[main program]
loglevel = error # possible values: debug, info, warning, error, critical
