"""Configuration information."""

max_verbosity = 10
component = { 'jid': 'name-of-the-component',
              'password': 'foobar',
              'server': 'example.tld',
              'port': 4242,
            }

db = {'file': 'registrations.db'}

bitcoin = {'user': 'rpc-user',
           'password': 'rpc-password',
          }
